.DS_Store
lesson-2-data-exploration-and-preparation/exercises/exercise_4/solution/mlruns/
lesson-2-data-exploration-and-preparation/exercises/exercise_4/solution/wandb/
lesson-2-data-exploration-and-preparation/exercises/exercise_4/starter/mlruns/
lesson-2-data-exploration-and-preparation/exercises/exercise_4/starter/wandb/
lesson-2-data-exploration-and-preparation/exercises/exercise_5/starter/mlruns/
lesson-2-data-exploration-and-preparation/exercises/exercise_5/starter/wandb/
lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/mlruns/
lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/wandb/
lesson-3-data-validation/exercises/exercise_7/starter/mlruns/
lesson-3-data-validation/exercises/exercise_7/starter/wandb/
lesson-3-data-validation/exercises/exercise_7/solution/mlruns/
lesson-3-data-validation/exercises/exercise_7/solution/wandb/
lesson-3-data-validation/exercises/exercise_8/starter/mlruns/
lesson-3-data-validation/exercises/exercise_8/starter/wandb/
lesson-3-data-validation/exercises/exercise_8/solution/mlruns/
lesson-3-data-validation/exercises/exercise_8/solution/wandb/
lesson-3-data-validation/exercises/exercise_9/starter/mlruns/
lesson-3-data-validation/exercises/exercise_9/starter/wandb/
lesson-3-data-validation/exercises/exercise_9/solution/mlruns/
lesson-3-data-validation/exercises/exercise_9/solution/wandb/
lesson-3-data-validation/exercises/exercise_7/solution/__pycache__/
lesson-3-data-validation/exercises/exercise_7/solution/artifacts/
lesson-3-data-validation/exercises/exercise_7/starter/__pycache__/
lesson-3-data-validation/exercises/exercise_7/starter/artifacts/
lesson-3-data-validation/exercises/exercise_8/solution/__pycache__/
lesson-3-data-validation/exercises/exercise_8/solution/artifacts/
lesson-3-data-validation/exercises/exercise_8/starter/__pycache__/
lesson-3-data-validation/exercises/exercise_8/starter/artifacts/
venv/